<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Employee Add</title>
</head>
<body>
<form method="post"
      role="form"
      th:object="${employee}"
      th:action="@{/api/employees/add}">
    <label>
        first name:
    </label>
    <input
            type="text"
            name="firstName">
    <label>
        last name:
    </label>
    <input
            type="text"
            name="lastName">
    <label>
        email:
    </label>
    <input
            type="text"
            name="email">
    <label>
        company id:
    </label>
    <input
            type="number"
            name="companyId">
    <button type="submit">
        Add
    </button>
</form>
</body>
</html>